<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>清理缓存</string>
			<key>subtitle</key>
			<string></string>
			<key>rightTitle</key>
			<string>0.0M</string>
			<key>isHiddenRightTitle</key>
			<false/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenRightArraw</key>
			<true/>
			<key>isHiddenSwitch</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>字体大小</string>
			<key>subtitle</key>
			<string></string>
			<key>rightTitle</key>
			<string>中</string>
			<key>isHiddenRightTitle</key>
			<false/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenRightArraw</key>
			<true/>
			<key>isHiddenSwitch</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>列表显示摘要</string>
			<key>subtitle</key>
			<string></string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenRightArraw</key>
			<true/>
			<key>isHiddenSwitch</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>非WiFi网络流量</string>
			<key>subtitle</key>
			<string></string>
			<key>rightTitle</key>
			<string>最佳效果(下载大图)</string>
			<key>isHiddenRightTitle</key>
			<false/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenRightArraw</key>
			<true/>
			<key>isHiddenSwitch</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>非WiFi网络播放提醒</string>
			<key>subtitle</key>
			<string></string>
			<key>rightTitle</key>
			<string>提醒一次</string>
			<key>isHiddenRightTitle</key>
			<false/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenRightArraw</key>
			<true/>
			<key>isHiddenSwitch</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>推送通知</string>
			<key>subtitle</key>
			<string>你可能错过重要资讯通知，点击去设置允许通知</string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
			<key>isHiddenSubtitle</key>
			<false/>
			<key>isHiddenRightArraw</key>
			<true/>
			<key>isHiddenSwitch</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>离线下载</string>
			<key>subtitle</key>
			<string></string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenRightArraw</key>
			<false/>
			<key>isHiddenSwitch</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>头条封面</string>
			<key>subtitle</key>
			<string></string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenRightArraw</key>
			<false/>
			<key>isHiddenSwitch</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>当前版本</string>
			<key>subtitle</key>
			<string></string>
			<key>rightTitle</key>
			<string>6.3.4</string>
			<key>isHiddenRightTitle</key>
			<false/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenRightArraw</key>
			<true/>
			<key>isHiddenSwitch</key>
			<true/>
		</dict>
	</array>
</array>
</plist>
