<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>small</key>
		<string>shu_small</string>
		<key>big</key>
		<string>shu_big</string>
		<key>title</key>
		<string>子鼠报喜</string>
	</dict>
	<dict>
		<key>small</key>
		<string>niu_small</string>
		<key>big</key>
		<string>niu_big</string>
		<key>title</key>
		<string>丑牛耕春</string>
	</dict>
	<dict>
		<key>small</key>
		<string>hu_small</string>
		<key>big</key>
		<string>hu_big</string>
		<key>title</key>
		<string>寅虎啸林</string>
	</dict>
	<dict>
		<key>small</key>
		<string>tu_small</string>
		<key>big</key>
		<string>tu_big</string>
		<key>title</key>
		<string>卯兔抱月</string>
	</dict>
	<dict>
		<key>small</key>
		<string>long_small</string>
		<key>big</key>
		<string>long_big</string>
		<key>title</key>
		<string>辰龙腾云</string>
	</dict>
	<dict>
		<key>small</key>
		<string>she_small</string>
		<key>big</key>
		<string>she_big</string>
		<key>title</key>
		<string>巳蛇长泰</string>
	</dict>
	<dict>
		<key>small</key>
		<string>fa_small</string>
		<key>big</key>
		<string>fa_big</string>
		<key>title</key>
		<string>发名成业</string>
	</dict>
	<dict>
		<key>small</key>
		<string>ma_small</string>
		<key>big</key>
		<string>ma_big</string>
		<key>title</key>
		<string>午马奔腾</string>
	</dict>
	<dict>
		<key>small</key>
		<string>yang_small</string>
		<key>big</key>
		<string>yang_big</string>
		<key>title</key>
		<string>未羊吉祥</string>
	</dict>
	<dict>
		<key>small</key>
		<string>hou_small</string>
		<key>big</key>
		<string>hou_big</string>
		<key>title</key>
		<string>申猴锦绣</string>
	</dict>
	<dict>
		<key>small</key>
		<string>ji_small</string>
		<key>big</key>
		<string>ji_big</string>
		<key>title</key>
		<string>酉鸡起舞</string>
	</dict>
	<dict>
		<key>small</key>
		<string>gou_small</string>
		<key>big</key>
		<string>gou_big</string>
		<key>title</key>
		<string>戌狗滕欢</string>
	</dict>
	<dict>
		<key>small</key>
		<string>zhu_small</string>
		<key>big</key>
		<string>zhu_big</string>
		<key>title</key>
		<string>亥猪臻福</string>
	</dict>
	<dict>
		<key>small</key>
		<string>cai_small</string>
		<key>big</key>
		<string>cai_big</string>
		<key>title</key>
		<string>财运亨通</string>
	</dict>
</array>
</plist>
