<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>images</key>
	<dict>
		<key>personal_home_back_black_24x24_</key>
		<string>personal_home_back_black_24x24_</string>
		<key>personal_home_back_white_24x24_</key>
		<string>personal_home_back_white_24x24_</string>
		<key>new_more_titlebar_24x24_</key>
		<string>new_more_titlebar_24x24_</string>
		<key>new_morewhite_titlebar_22x22_</key>
		<string>new_morewhite_titlebar_22x22_</string>
		<key>loading_12x12_</key>
		<string>loading_12x12_</string>
		<key>arrow_up_16_16x14_</key>
		<string>arrow_up_16_16x14_</string>
		<key>place_10x12_</key>
		<string>place_10x12_</string>
		<key>tabbar-options</key>
		<string>tabbar-options_9x9_</string>
		<key>toutiaohao</key>
		<string>toutiaohao_34x14_</string>
		<key>air_download_option</key>
		<string>air_download_option_20x20_</string>
		<key>air_download_option_press</key>
		<string>air_download_option_press_20x20_</string>
		<key>moreLoginMailButton</key>
		<string>mailbox_sdk_login_40x40_</string>
		<key>moreLoginTianyiButton</key>
		<string>tianyi_sdk_login_40x40_</string>
		<key>moreLoginQQButton</key>
		<string>qq_sdk_login_40x40_</string>
		<key>moreLoginWechatButton</key>
		<string>weixin_sdk_login_40x40_</string>
		<key>loginCloseButtonImage</key>
		<string>close_sdk_login_14x14_</string>
		<key>loginReadButtonSelected</key>
		<string>details_choose_ok_icon_15x15_</string>
		<key>loginReadButton</key>
		<string>details_choose_icon_15x15_</string>
		<key>publishButtonBackgroundSelectedImage</key>
		<string>feed_publish_press_44x44_</string>
		<key>publishButtonBackgroundImage</key>
		<string>feed_publish_44x44_</string>
		<key>cellRightArrow</key>
		<string>setting_rightarrow_8x14_</string>
		<key>loginMobileButton</key>
		<string>cellphoneicon_login_profile_66x66_</string>
		<key>loginWechatButton</key>
		<string>weixinicon_login_profile_66x66_</string>
		<key>loginQQButton</key>
		<string>qqicon_login_profile_66x66_</string>
		<key>loginSinaButton</key>
		<string>sinaicon_login_profile_66x66_</string>
		<key>mineFavoriteButton</key>
		<string>favoriteicon_profile_24x24_</string>
		<key>mineHistoryButton</key>
		<string>history_profile_24x24_</string>
		<key>dayOrNightButton</key>
		<string>nighticon_profile_24x24_</string>
	</dict>
	<key>colors</key>
	<dict>
		<key>verifiedAgencyTextColor</key>
		<string>#e6b740</string>
		<key>userDetailSendMailTextColor</key>
		<string>#486495</string>
		<key>userDetailConcernButtonTextColor</key>
		<string>#ffffff</string>
		<key>userDetailConcernButtonSelectedTextColor</key>
		<string>#999999</string>
		<key>userDetailFollowingConcernBtnBgColor</key>
		<string>#ffffff</string>
		<key>globalRedColor</key>
		<string>#e6645f</string>
		<key>navigationBarTintColor</key>
		<string>#000000</string>
		<key>loginMobileViewBackgroundColor</key>
		<string>#ffffff</string>
		<key>enterToutiaoTextColor</key>
		<string>#ffffff</string>
		<key>enterToutiaoBackgroundColor</key>
		<string>#F9A9A9</string>
		<key>tabbarTintColor</key>
		<string>#f55a5d</string>
		<key>tableViewBackgroundColor</key>
		<string>#f6f6f6</string>
		<key>cellRightTextColor</key>
		<string>#aaaaaa</string>
		<key>separatorViewColor</key>
		<string>#f0f0f0</string>
		<key>cellBackgroundColor</key>
		<string>#ffffff</string>
		<key>moreLoginBackgroundColor</key>
		<string>#00000060</string>
		<key>moreLoginTextColor</key>
		<string>#ffffff</string>
		<key>black</key>
		<string>#000000</string>
	</dict>
</dict>
</plist>
