<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>images</key>
	<dict>
		<key>tab_redpackage_big_press_64x44_</key>
		<string>tab_redpackage_big_press_64x44_</string>
		<key>tab_redpackage_big_64x44_</key>
		<string>tab_redpackage_big_64x44_</string>
		<key>home_camera</key>
		<string>home_camera</string>
		<key>like_old_feed_press_24x24_</key>
		<string>like_old_feed_press_24x24_</string>
		<key>like_old_feed_24x24_</key>
		<string>like_old_feed_24x24_</string>
		<key>icon_popup_close_24x24_</key>
		<string>icon_popup_close_24x24_</string>
		<key>download_ad_feed_13x13_</key>
		<string>download_ad_feed_13x13_</string>
		<key>palyicon_video_textpage_6x8_</key>
		<string>palyicon_video_textpage_6x8_</string>
		<key>add_textpage_17x12_</key>
		<string>add_textpage_17x12_</string>
		<key>add_channel_titlbar_thin_new_16x16_</key>
		<string>add_channel_titlbar_thin_new_16x16_</string>
		<key>arrow_down_16_16x14_</key>
		<string>arrow_down_16_16x14_</string>
		<key>comment_video_20x20_</key>
		<string>comment_video_20x20_</string>
		<key>love_video_press_20x20_</key>
		<string>love_video_press_20x20_</string>
		<key>love_video_20x20_</key>
		<string>love_video_20x20_</string>
		<key>video_add_24x24_</key>
		<string>video_add_24x24_</string>
		<key>view detail_ad_feed_15x13_</key>
		<string>view detail_ad_feed_15x13_</string>
		<key>new_play_video_44x44_</key>
		<string>new_play_video_44x44_</string>
		<key>More_24x24_</key>
		<string>More_24x24_</string>
		<key>comment_24x24_</key>
		<string>comment_24x24_</string>
		<key>douyin_logo_new_100x28_</key>
		<string>douyin_logo_new_100x28_</string>
		<key>huoshan_logo_new_100x28_</key>
		<string>huoshan_logo_new_100x28_</string>
		<key>ImgPic_close_24x24_</key>
		<string>ImgPic_close_24x24_</string>
		<key>ugc_video_list_play_32x32_</key>
		<string>ugc_video_list_play_32x32_</string>
		<key>wukonglogo_ask_bar_90x20_</key>
		<string>wukonglogo_ask_bar_90x20_</string>
		<key>input_emoji_delete_44x44_</key>
		<string>input_emoji_delete_44x44_</string>
		<key>toolbar_icon_keyboard_up_24x24_</key>
		<string>toolbar_icon_keyboard_up_24x24_</string>
		<key>toolbar_icon_keyboard_down_24x24_</key>
		<string>toolbar_icon_keyboard_down_24x24_</string>
		<key>toolbar_icon_keyboard_24x24_</key>
		<string>toolbar_icon_keyboard_24x24_</string>
		<key>toolbar_icon_hashtag_24x24_</key>
		<string>toolbar_icon_hashtag_24x24_</string>
		<key>toolbar_icon_emoji_24x24_</key>
		<string>toolbar_icon_emoji_24x24_</string>
		<key>toolbar_icon_at_24x24_</key>
		<string>toolbar_icon_at_24x24_</string>
		<key>tabbar_icon_emoji_24x24_</key>
		<string>tabbar_icon_emoji_24x24_</string>
		<key>tabbar_icon_emoji_keyboard_24x24_</key>
		<string>tabbar_icon_emoji_keyboard_24x24_</string>
		<key>tabbar_icon_#_24x24_</key>
		<string>tabbar_icon_#_24x24_</string>
		<key>tabbar_icon_@_24x24_</key>
		<string>tabbar_icon_@_24x24_</string>
		<key>tab_share_24x24_</key>
		<string>tab_share_24x24_</string>
		<key>tab_like_24x24_</key>
		<string>tab_like_24x24_</string>
		<key>tab_like_press_24x24_</key>
		<string>tab_like_press_24x24_</string>
		<key>comment_like_icon_16x16_</key>
		<string>comment_like_icon_16x16_</string>
		<key>comment_like_icon_press_16x16_</key>
		<string>comment_like_icon_press_16x16_</string>
		<key>home_no_login_head</key>
		<string>home_no_login_head</string>
		<key>smallvideo_all_32x32_</key>
		<string>smallvideo_all_32x32_</string>
		<key>morebutton_dynamic_14x8_</key>
		<string>morebutton_dynamic_14x8_</string>
		<key>morebutton_dynamic_press_14x8_</key>
		<string>morebutton_dynamic_press_14x8_</string>
		<key>feed_like_24x24_</key>
		<string>feed_like_24x24_</string>
		<key>feed_like_press_24x24_</key>
		<string>feed_like_press_24x24_</string>
		<key>comment_feed_24x24_</key>
		<string>comment_feed_24x24_</string>
		<key>feed_share_24x24_</key>
		<string>feed_share_24x24_</string>
		<key>personal_home_back_black_24x24_</key>
		<string>personal_home_back_black_24x24_</string>
		<key>personal_home_back_white_24x24_</key>
		<string>personal_home_back_white_24x24_</string>
		<key>new_more_titlebar_24x24_</key>
		<string>new_more_titlebar_24x24_</string>
		<key>new_morewhite_titlebar_22x22_</key>
		<string>new_morewhite_titlebar_22x22_</string>
		<key>loading_12x12_</key>
		<string>loading_12x12_</string>
		<key>arrow_up_16_16x14_</key>
		<string>arrow_up_16_16x14_</string>
		<key>place_10x12_</key>
		<string>place_10x12_</string>
		<key>tabbar-options</key>
		<string>tabbar-options_9x9_</string>
		<key>toutiaohao</key>
		<string>toutiaohao_34x14_</string>
		<key>air_download_option</key>
		<string>air_download_option_20x20_</string>
		<key>air_download_option_press</key>
		<string>air_download_option_press_20x20_</string>
		<key>moreLoginMailButton</key>
		<string>mailbox_sdk_login_40x40_</string>
		<key>moreLoginTianyiButton</key>
		<string>tianyi_sdk_login_40x40_</string>
		<key>moreLoginQQButton</key>
		<string>qq_sdk_login_40x40_</string>
		<key>moreLoginWechatButton</key>
		<string>weixin_sdk_login_40x40_</string>
		<key>loginCloseButtonImage</key>
		<string>close_sdk_login_14x14_</string>
		<key>loginReadButtonSelected</key>
		<string>details_choose_ok_icon_15x15_</string>
		<key>loginReadButton</key>
		<string>details_choose_icon_15x15_</string>
		<key>publishButtonBackgroundSelectedImage</key>
		<string>feed_publish_press_44x44_</string>
		<key>publishButtonBackgroundImage</key>
		<string>feed_publish_44x44_</string>
		<key>cellRightArrow</key>
		<string>setting_rightarrow_8x14_</string>
		<key>loginMobileButton</key>
		<string>cellphoneicon_login_profile_66x66_</string>
		<key>loginWechatButton</key>
		<string>weixinicon_login_profile_66x66_</string>
		<key>loginQQButton</key>
		<string>qqicon_login_profile_66x66_</string>
		<key>loginSinaButton</key>
		<string>sinaicon_login_profile_66x66_</string>
		<key>mineFavoriteButton</key>
		<string>favoriteicon_profile_24x24_</string>
		<key>mineHistoryButton</key>
		<string>history_profile_24x24_</string>
		<key>dayOrNightButton</key>
		<string>nighticon_profile_24x24_</string>
	</dict>
	<key>colors</key>
	<dict>
		<key>grayColor200</key>
		<string>#d0d0d0</string>
		<key>lightGray</key>
		<string>#aaaaaa</string>
		<key>pageIndicatorTintColor</key>
		<string>#d8d8d8</string>
		<key>currentPageIndicatorTintColor</key>
		<string>#202020</string>
		<key>windowColor</key>
		<string>#c44943</string>
		<key>grayColor230</key>
		<string>#e6e6e6</string>
		<key>grayColor210</key>
		<string>#d2d2d2</string>
		<key>grayColor247</key>
		<string>#f7f7f7</string>
		<key>grayColor240</key>
		<string>#f5f5f5</string>
		<key>grayColor150</key>
		<string>#969696</string>
		<key>verifiedAgencyTextColor</key>
		<string>#e6b740</string>
		<key>userDetailSendMailTextColor</key>
		<string>#486495</string>
		<key>userDetailConcernButtonTextColor</key>
		<string>#ffffff</string>
		<key>userDetailConcernButtonSelectedTextColor</key>
		<string>#999999</string>
		<key>userDetailFollowingConcernBtnBgColor</key>
		<string>#ffffff</string>
		<key>globalRedColor</key>
		<string>#e6645f</string>
		<key>navigationBarTintColor</key>
		<string>#000000</string>
		<key>loginMobileViewBackgroundColor</key>
		<string>#ffffff</string>
		<key>enterToutiaoTextColor</key>
		<string>#ffffff</string>
		<key>enterToutiaoBackgroundColor</key>
		<string>#F9A9A9</string>
		<key>tabbarTintColor</key>
		<string>#f55a5d</string>
		<key>tableViewBackgroundColor</key>
		<string>#f6f6f6</string>
		<key>cellRightTextColor</key>
		<string>#aaaaaa</string>
		<key>separatorViewColor</key>
		<string>#f0f0f0</string>
		<key>cellBackgroundColor</key>
		<string>#ffffff</string>
		<key>moreLoginBackgroundColor</key>
		<string>#00000060</string>
		<key>moreLoginTextColor</key>
		<string>#ffffff</string>
		<key>black</key>
		<string>#000000</string>
	</dict>
</dict>
</plist>
