<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>images</key>
	<dict>
		<key>tab_redpackage_big_press_64x44_</key>
		<string>tab_redpackage_big_press_night_64x44_</string>
		<key>tab_redpackage_big_64x44_</key>
		<string>tab_redpackage_big_night_64x44_</string>
		<key>home_camera</key>
		<string>home_camera_night</string>
		<key>like_old_feed_press_24x24_</key>
		<string>like_old_feed_press_night_24x24_</string>
		<key>like_old_feed_24x24_</key>
		<string>like_old_feed_night_24x24_</string>
		<key>icon_popup_close_24x24_</key>
		<string>icon_popup_close_night_24x24_</string>
		<key>download_ad_feed_13x13_</key>
		<string>download_ad_feed_night_13x13_</string>
		<key>palyicon_video_textpage_6x8_</key>
		<string>palyicon_video_textpage_night_8x8_</string>
		<key>add_textpage_17x12_</key>
		<string>add_textpage_night_17x12_</string>
		<key>add_channel_titlbar_thin_new_16x16_</key>
		<string>add_channel_titlbar_thin_new_night_16x16_</string>
		<key>arrow_down_16_16x14_</key>
		<string>arrow_down_night_16_16x14_</string>
		<key>comment_video_20x20_</key>
		<string>comment_video_night_20x20_</string>
		<key>love_video_press_20x20_</key>
		<string>love_video_press_night_20x20_</string>
		<key>love_video_20x20_</key>
		<string>love_video_night_20x20_</string>
		<key>video_add_24x24_</key>
		<string>video_add_night_24x24_</string>
		<key>view detail_ad_feed_15x13_</key>
		<string>view detail_ad_feed_night_15x13_</string>
		<key>new_play_video_44x44_</key>
		<string>new_play_video_night_44x44_</string>
		<key>More_24x24_</key>
		<string>More_night_24x24_</string>
		<key>comment_24x24_</key>
		<string>comment_night_24x24_</string>
		<key>douyin_logo_new_100x28_</key>
		<string>douyin_logo_99x28_</string>
		<key>huoshan_logo_new_100x28_</key>
		<string>huoshan_logo_100x28_</string>
		<key>ImgPic_close_24x24_</key>
		<string>ImgPic_close_night_24x24_</string>
		<key>ugc_video_list_play_32x32_</key>
		<string>ugc_video_list_play_night_32x32_</string>
		<key>wukonglogo_ask_bar_90x20_</key>
		<string>wukonglogo_ask_bar_night_90x20_</string>
		<key>input_emoji_delete_44x44_</key>
		<string>input_emoji_delete_night_44x44_</string>
		<key>toolbar_icon_keyboard_up_24x24_</key>
		<string>toolbar_icon_keyboard_up_night_24x24_</string>
		<key>toolbar_icon_keyboard_down_24x24_ - 2</key>
		<string>toolbar_icon_keyboard_down_night_24x24_</string>
		<key>toolbar_icon_keyboard_24x24_</key>
		<string>toolbar_icon_keyboard_night_24x24_</string>
		<key>toolbar_icon_hashtag_24x24_</key>
		<string>toolbar_icon_hashtag_night_24x24_</string>
		<key>toolbar_icon_emoji_24x24_</key>
		<string>toolbar_icon_emoji_night_24x24_</string>
		<key>toolbar_icon_at_24x24_</key>
		<string>toolbar_icon_at_night_24x24_</string>
		<key>tabbar_icon_emoji_24x24_</key>
		<string>tabbar_icon_emoji_night_24x24_</string>
		<key>tabbar_icon_emoji_keyboard_24x24_</key>
		<string>tabbar_icon_emoji_keyboard_night_24x24_</string>
		<key>tabbar_icon_#_24x24_</key>
		<string>tabbar_icon_#_night_24x24_</string>
		<key>tabbar_icon_@_24x24_</key>
		<string>tabbar_icon_@_24x24_</string>
		<key>tab_share_24x24_</key>
		<string>tab_share_night_24x24_</string>
		<key>tab_like_press_24x24_</key>
		<string>tab_like_press_night_24x24_</string>
		<key>tab_like_24x24_</key>
		<string>tab_like_night_24x24_</string>
		<key>comment_like_icon_16x16_</key>
		<string>comment_like_icon_night_16x16_</string>
		<key>comment_like_icon_press_16x16_</key>
		<string>comment_like_icon_press_night_16x16_</string>
		<key>home_no_login_head</key>
		<string>home_no_login_head_night</string>
		<key>smallvideo_all_32x32_</key>
		<string>smallvideo_all_night_32x32_</string>
		<key>morebutton_dynamic_14x8_</key>
		<string>morebutton_dynamic_night_14x8_</string>
		<key>morebutton_dynamic_press_14x8_</key>
		<string>morebutton_dynamic_press_night_14x8_</string>
		<key>feed_like_24x24_</key>
		<string>feed_like_night_24x24_</string>
		<key>feed_like_press_24x24_</key>
		<string>feed_like_press_night_24x24_</string>
		<key>comment_feed_24x24_</key>
		<string>comment_feed_night_24x24_</string>
		<key>feed_share_24x24_</key>
		<string>feed_share_night_24x24_</string>
		<key>personal_home_back_black_24x24_</key>
		<string>personal_home_back_black_night_24x24_</string>
		<key>personal_home_back_white_24x24_</key>
		<string>personal_home_back_white_night_24x24_</string>
		<key>new_more_titlebar_24x24_</key>
		<string>new_more_titlebar_night_24x24_</string>
		<key>new_morewhite_titlebar_22x22_</key>
		<string>new_morewhite_titlebar_night_22x22_</string>
		<key>loading_12x12_</key>
		<string>loading_night_12x12_</string>
		<key>arrow_up_16_16x14_</key>
		<string>arrow_up_night_16_16x14_</string>
		<key>place_10x12_</key>
		<string>place_night_10x12_</string>
		<key>tabbar-options</key>
		<string>tabbar-options_night_9x9_</string>
		<key>toutiaohao</key>
		<string>toutiaohao_night_34x14_</string>
		<key>air_download_option</key>
		<string>air_download_option_night_20x20_</string>
		<key>air_download_option_press</key>
		<string>air_download_option_press_night_20x20_</string>
		<key>moreLoginQQButton</key>
		<string>qq_sdk_login_night_40x40_</string>
		<key>moreLoginMailButton</key>
		<string>mailbox_sdk_login_night_40x40_</string>
		<key>moreLoginTianyiButton</key>
		<string>tianyi_sdk_login_night_40x40_</string>
		<key>moreLoginWechatButton</key>
		<string>weixin_sdk_login_night_40x40_</string>
		<key>loginCloseButtonImage</key>
		<string>close_sdk_login_night_14x14_</string>
		<key>loginReadButtonSelected</key>
		<string>details_choose_ok_icon_night_15x15_</string>
		<key>loginReadButton</key>
		<string>details_choose_icon_night_15x15_</string>
		<key>publishButtonBackgroundSelectedImage</key>
		<string>feed_publish_press_night_44x44_</string>
		<key>publishButtonBackgroundImage</key>
		<string>feed_publish_night_44x44_</string>
		<key>cellRightArrow</key>
		<string>setting_rightarrow_night_8x14_</string>
		<key>loginMobileButton</key>
		<string>cellphoneicon_login_profile_night_66x66_</string>
		<key>loginWechatButton</key>
		<string>weixinicon_login_profile_night_66x66_</string>
		<key>loginQQButton</key>
		<string>qqicon_login_profile_night_66x66_</string>
		<key>loginSinaButton</key>
		<string>sinaicon_login_profile_night_66x66_</string>
		<key>mineFavoriteButton</key>
		<string>favoriteicon_profile_night_24x24_</string>
		<key>mineHistoryButton</key>
		<string>history_profile_night_24x24_</string>
		<key>dayOrNightButton</key>
		<string>dayicon_profile_night_24x24_</string>
	</dict>
	<key>colors</key>
	<dict>
		<key>grayColor200</key>
		<string>#717171</string>
		<key>lightGray</key>
		<string>#717171</string>
		<key>currentPageIndicatorTintColor</key>
		<string>#f9f9fb</string>
		<key>pageIndicatorTintColor</key>
		<string>#464646</string>
		<key>grayColor210</key>
		<string>#717171</string>
		<key>grayColor247</key>
		<string>#717171</string>
		<key>windowColor</key>
		<string>#651413</string>
		<key>grayColor240</key>
		<string>#717171</string>
		<key>grayColor230</key>
		<string>#717171</string>
		<key>grayColor150</key>
		<string>#717171</string>
		<key>verifiedAgencyTextColor</key>
		<string>#6f5b10</string>
		<key>userDetailSendMailTextColor</key>
		<string>#6c7589</string>
		<key>userDetailConcernButtonTextColor</key>
		<string>#c7c7c7</string>
		<key>userDetailConcernButtonSelectedTextColor</key>
		<string>#717171</string>
		<key>userDetailFollowingConcernBtnBgColor</key>
		<string>#373737</string>
		<key>globalRedColor</key>
		<string>#651413</string>
		<key>navigationBarTintColor</key>
		<string>#707070</string>
		<key>loginMobileViewBackgroundColor</key>
		<string>#cacaca</string>
		<key>enterToutiaoTextColor</key>
		<string>#929292</string>
		<key>enterToutiaoBackgroundColor</key>
		<string>#5c3d3d</string>
		<key>tabbarTintColor</key>
		<string>#925657</string>
		<key>tableViewBackgroundColor</key>
		<string>#1b1b1b</string>
		<key>cellRightTextColor</key>
		<string>#707070</string>
		<key>separatorViewColor</key>
		<string>#707070</string>
		<key>cellBackgroundColor</key>
		<string>#252525</string>
		<key>moreLoginBackgroundColor</key>
		<string>#252525</string>
		<key>moreLoginTextColor</key>
		<string>#707070</string>
		<key>black</key>
		<string>#707070</string>
	</dict>
</dict>
</plist>
